# Local Development
VITE_SITE_URL=http://localhost:5173
VITE_ECOMMERCE_URL=http://localhost:3000
VITE_API_URL=http://localhost:5000

# Production Deployment (Set in Hosting / Vercel Environment Variables)
# VITE_SITE_URL=https://tnmockmeat.com
# VITE_ECOMMERCE_URL=https://buy.tnmockmeat.com
# VITE_API_URL=https://api.tnmockmeat.com
